/* General styles */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #343a40;
    color: #333;
    margin: 0;
    padding: 20px;
}

/* Container */
.container {
    width: 80vw;
    /* max-width: 800px; */
    margin: auto;
    padding: 20px;
}

/* Card styles */
.card {
    background-color: #333;
    border: 1px solid #dee2e6;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

/* Header styles */
.card-header {
    font-size: 24px;
    font-weight: 600;
    color: #ffffff;
    margin-bottom: 20px;
    text-align: center;
    border-bottom: 2px solid #343a40;
    padding-bottom: 10px;
}

/* Form grid layout */
.form-grid {

    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.form-grid > div {
    display: flex;
    flex-direction: column;
}

/* Label styles */
label {
    font-weight: 500;
    color: #f9fbfe;
    margin-bottom: 5px;
}

/* Input, Textarea, and Select styles */
input, textarea, select {
    padding: 10px;
    font-size: 16px;
    background-color: #f8f9fa;
    border: 1px solid #ced4da;
    border-radius: 4px;
    color: #495057;
    transition: border-color 0.2s;
}

input:focus, textarea:focus, select:focus {
    outline: none;
    border-color: #007bff;
}

/* Placeholder text */
input::placeholder, textarea::placeholder {
    color: #6c757d;
}

/* Textarea styling */
textarea {
    resize: vertical;
}

/* Radio group styles */
.radio-group {
    display: flex;
    
    justify-content: flex-start;
    gap: 20px;
}
#legall{
    border: 1px solid white;
    padding-top: 15px;
    padding-left: 10px;
}
#legal-group{
    position: relative;
}
#attorneyNameContainer{
    padding-top: 10px;
    font-size: 1.2em;
    position: absolute;
    left:180px;
    bottom: 15px;
}
#criminal-group{
    position: relative;
}
#criminal-group div{
    position: absolute;
    
}
#criminal-history{
    border: 1px solid white;
    padding-left: 9px;
    height: 100px;
    display:flex;
    justify-content: space-around;

}
#arres{
   /* height: 80px;
   width: 100px;
   border: 1px solid white;
   padding-top:4px;
   padding-bottom: 5px;
   padding-left: 3px; */
   bottom:9px;
   left:250px;

   
}
#conv{
  left:400px;
  bottom: 9px;
}
.radio-group label {
    font-weight: 400;
    color: #ffffff;
}

/* Button styles */
button {
    grid-column: span 2;
    padding: 12px;
    font-size: 18px;
    font-weight: 600;
    background-color: #fca311;
    color: #edf2f4;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 20px;
    transition: background-color 0.2s;
}
button a{
    color: #edf2f4;
}
button:hover {
    background-color: #0056b3;
}

/* Specific field styles */
.card-content > .form-grid > div {
    margin-bottom: 20px;
}

.card-content > .form-grid > div:last-child {
    margin-bottom: 0;
}

