@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Oswald:wght@200..700&family=Roboto+Slab:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Archivo+Black&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Oswald:wght@200..700&family=Roboto+Slab:wght@100..900&display=swap');

@font-face {
    font-family: "Impact";
    src: url("/bail-reckonerr/Impact-Font.zip") format(OpenType);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: black;
    color: #333;
    line-height: 1.8;
}

.navbar {
    background-color: black;
    color: white;
    padding: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.navbar .logo {
    font-family: "Merriweather", serif;
    font-size: 2.2rem;
    font-weight: bold;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-left: 30px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 1.1rem;
}

.nav-links a:hover {
    color: orange;
}

.hero {
    position: relative;
    background-color: #252422;
    text-align: center;
    padding: 120px 30px;
    margin-bottom: 50px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
#legal-a{
    position: relative;
    top:20px;
    /* margin-top:20px; */
    background-color: orange;
    /* font-size: 2rem; */
    padding: 10px;
    color: white;
}
#legal-a:hover{
    color: blue;
}
.slider {
    position: relative;
    width: 100%;
    height: 100%;
}

.slide {
    font-family: "Archivo Black", sans-serif;
    /* font-weight: 300; */
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 1s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
}

.slide.active {
    opacity: 1;
}

.slide h1 {
    color: orange;
    font-size: 2.5rem;
}

.slide p {
    color: white;
    font-size: 1.5rem;
}

.container {
    display: flex;
    justify-content: space-between;
    margin: 0 20px;
}

.sidebar {
    width: 20%;
    background-color: #252422;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    color:white;
}

.sidebar h3 {
    
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.sidebar ul {
    list-style: none;
    
}

.sidebar ul li {
    margin-bottom: 10px;
    
}

.sidebar ul li a {
    text-decoration: none;
    color: white;
}

.sidebar ul li a:hover {
    color: orange;
}

main {
    width: 55%;
}

.intro, .calculator, .faq, .legal-aid {
    background-color: #252422;
    color: white;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
}

.intro p, .legal-aid p {
    margin-bottom: 15px;
}

.legal-aid a{
    text-decoration: none;
    border-radius: 0.3rem;
    -webkit-border-radius: 0.3rem;
    -moz-border-radius: 0.3rem;
    -ms-border-radius: 0.3rem;
    -o-border-radius: 0.3rem;
}

form label {
    font-weight: bold;
    margin-top: 10px;
}

form input, form textarea, form select {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 8px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
}

form button {
    background-color: orange;
    border: none;
    padding: 12px 25px;
    font-size: 1rem;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

form button:hover {
    background-color: darkorange;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.bail-result {
    margin-top: 20px;
    padding: 15px;
    border-radius: 5px;
    text-align: center;
    font-size: 1.2rem;
    color: white;
    background-color: #333;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.accordion-button {
    background-color: lightgray;
    color: black;
    padding: 15px;
    cursor: pointer;
    border: none;
    width: 100%;
    text-align: left;
    font-size: 1.1rem;
    outline: none;
    margin-bottom: 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.accordion-button:hover {
    background-color: #f4f4f4;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.accordion-button.active {
    background-color: darkgray;
}

.accordion-content {
    display: none;
    padding: 15px;
    background-color: #252422;
    border-left: 5px solid black;
    border-radius: 0 0 5px 5px;
    margin-bottom: 15px;
}

footer {
    background-color: black;
    color: white;
    padding: 30px;
    text-align: center;
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.1);
}

footer a {
    color: orange;
    text-decoration: none;
    margin: 0 10px;
}

footer a:hover {
    text-decoration: underline;
}

/* Responsive Design */
@media (max-width: 768px) {
    .navbar .logo {
        font-size: 1.5rem;
    }

    .nav-links {
        flex-direction: column;
        align-items: center;
    }

    .nav-links li {
        margin: 10px 0;
    }

    .hero h1 {
        font-size: 2rem;
    }

    .hero p {
        font-size: 1rem;
    }

    .container {
        flex-direction: column;
    }

    .sidebar {
        width: 100%;
        margin-bottom: 20px;
    }

    main {
        width: 100%;
    }
}

/***** bail info section *****/

/* Understanding Bail Section */
.bail-info {
    background-color: #252422;
    color: white;
    padding: 40px 20px;
    border-radius: 10px;
    margin-bottom: 30px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}
.bail-info .container{
    display: grid;
    place-items: center;
}
.bail-info h2 {
    font-size: 2.2rem;
    margin-bottom: 20px;
    color: orange; 
}

.bail-info h3 {
    font-size: 1.5rem;
    margin-top: 20px;
    color: #fff;
    text-align: left;
}

.def, .stat, .reforms, .stat-item {
    margin-bottom: 30px;
}

.stat, .reforms, .stat-item {
    background: #333;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.stat-item ul {
    list-style: none;
    padding: 0;
}

.stat-item li {
    margin-bottom: 15px;
    font-size: 1rem;
}

.stat-item a {
    color: orange;
    text-decoration: none;
    font-weight: bold;
}

.stat-item a:hover {
    text-decoration: underline;
}

.reforms b {
    color: orange; 
}

/* Responsive Design for Bail Section */
/* @media (max-width: 768px) {
    .bail-info {
        padding: 20px;
    }

    .bail-info h2 {
        font-size: 1.8rem;
    }

    .bail-info h3 {
        font-size: 1.3rem;
    }
} */

/***** End bail info section *****/

